@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .window-hover {
    @apply hover:shadow-lg hover:ring-2 hover:ring-slate-200 transition-all hover:bg-slate-50;
  }
  .window-hover-inset {
    @apply window-hover hover:ring-inset;
  }
  .aic-window {
    @apply bg-white rounded-lg shadow-sm;
  }
}

@layer base {
  :root {
    --header-height: 4rem;
    --button-height: 3rem;
    --n-rail-color-active: #1289c4;
  }

  /* maybe later, fix for flexbox not contracting properly
  * {
    min-width: 0;
  }
  */
  .bg-hc {
    background-color: #f9f9f9;
  }

  .decoration-hc-primary {
    text-decoration-color: #1289c4;
  }

  .text-aic-primary {
    color: #1d1f20;
  }

  html {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', system-ui, sans-serif;
    @apply bg-hc;
  }
  body {
    min-height: 100%;
    width: 100%;
    @apply flex bg-hc;
    font-family:
      'Open Sans',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      sans-serif !important;
  }
  .n-config-provider,
  .n-config-provider > div.layout-content > .n-collapse-transition,
  .n-config-provider > div.layout-content > .n-collapse-transition > main {
    height: 100%;
  }

  #app {
    @apply bg-hc;
    max-width: 100%;
    width: 100%;
  }

  h1 {
    @apply text-2xl md:text-2xl xl:text-3xl font-bold;
  }
  h2 {
    @apply text-xl md:text-xl xl:text-2xl font-bold mb-2 sm:mb-3.5 lg:mb-4;
  }
  h3 {
    @apply text-lg md:text-lg font-bold mb-0.5 sm:mb-1.5;
  }
  h4 {
    @apply text-lg md:text-lg font-semibold mb-0.5 sm:mb-1.5;
  }
  h5 {
    @apply text-base md:text-lg font-semibold mb-0.5 sm:mb-1.5;
  }

  p {
    @apply mb-2;
  }
}

a {
  @apply cursor-pointer;
}

a.regular {
  @apply text-sky-600;
}

.main-layout-page {
  @apply flex flex-col space-y-1.5 lg:space-y-6 lg:mt-6;
}
.main-layout-page > h1 {
  @apply text-2xl sm:text-2xl md:text-3xl xl:text-3xl tracking-tight font-extrabold text-gray-900;
}
.main-layout-page > p {
  @apply mt-0 max-w-2xl text-lg text-gray-500;
}

.mobile {
  > p,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > button {
    @apply mx-4;
  }
}

.page-link {
  @apply underline decoration-4 underline-offset-4 decoration-hc-primary hover:text-aic-primary transition-colors duration-300 hover:transition-colors;
}
a > h2 {
  @apply page-link;
  text-underline-offset: 6px;
}
.link {
  @apply underline decoration-2 underline-offset-4 decoration-slate-300 hover:text-black transition-all duration-200 hover:transition-all;
}
.link-hovered {
  @apply text-black decoration-hc-primary;
}

/**
  * NaiveUI
  */
.n-drawer-body-content-wrapper {
  @apply p-0 !important;
}

.n-input__prefix {
  @apply relative right-12;
}

.n-input__suffix {
  @apply relative left-2;
}

.n-base-clear {
  @apply relative left-8 scale-125 bottom-2.5 cursor-pointer;
}

.n-base-loading {
  @apply relative right-1;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.n-loading-bar {
  height: 0.2rem !important;
  background: #3da89e !important;
}

.n-progress
  .n-progress-graph
  .n-progress-graph-line
  .n-progress-graph-line-rail {
  background-color: rgb(205 205 205) !important;
}

.n-input .n-input__border {
  border-bottom: 0;
}

nav.n-breadcrumb {
  @apply mt-0 mb-0 !important;
}

.n-button .n-button__content ~ .n-button__icon {
  margin-left: 0.8rem !important;
  margin-right: 0 !important;
}

.n-button.n-button-extra-margins .n-button__content ~ .n-button__icon {
  margin-right: 0.3rem;
  margin-left: 1.2rem;
}

.n-alert .n-alert-body .n-alert-body__title {
  font-size: 1.22rem !important;
  font-weight: 800px !important;
  @apply mt-1 mb-4;
}

.n-tag.n-tag--checkable {
  outline: solid;
  outline-width: 0.13rem;
  outline-color: darkgrey;
  outline-offset: -0.1rem;
}

@media (max-width: 768px) {
  .v-binder-follower-content {
    width: calc(100% - 1rem) !important;
  }
}

.n-base-select-option {
  @apply !text-lg !py-3 !px-6;
}

.n-drawer-header {
  @apply !justify-stretch !px-0 !py-0.5;
}
.n-drawer-header__main {
  @apply !w-full;
}

.n-tag__content {
  text-wrap: balance;
}

/* Modal */
.n-dialog.n-modal {
  @apply !w-full !max-w-full sm:!w-10/12 md:!w-7/12 xl:!w-5/12 md:!max-w-prose;
  max-width: calc(100vw) !important;
}
.n-dialog {
  @apply !p-4 md:!p-8;
}
.n-dialog .n-dialog__title {
  @apply !text-xl !font-semibold;
}

/* CKEDITOR */
@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}